<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <%- include('header'); -%>
    <h1>Error!</h1>
    <h2>Request unsuccessful</h2>

    <ul>
        <% errors.forEach(err => {%>
            <li>
                <p>Error : <%= err.msg%></p>
                <p>path : <%= err.path%></p>
                <p>Value : <%= err.value%></p>
            </li>
        <% }); %>
    </ul>

    <%- include('footer'); -%>
</body>
</html>